<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,267}</string>
                <key>spriteSourceSize</key>
                <string>{172,267}</string>
                <key>textureRect</key>
                <string>{{5,5},{172,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{282,5},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{761,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1013,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1265,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1517,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{534,5},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{786,5},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1038,5},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1290,5},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1542,5},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{5,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{257,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{509,187},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clubs_stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1769,187},{172,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{5,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{257,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{509,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{761,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1013,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{257,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{509,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{761,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1013,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1265,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1517,369},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1769,439},{172,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{5,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond_stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1265,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,267}</string>
                <key>spriteSourceSize</key>
                <string>{172,267}</string>
                <key>textureRect</key>
                <string>{{5,733},{172,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1517,551},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{509,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{761,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1013,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1265,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{282,733},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{534,733},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{786,733},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1038,733},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1290,733},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1542,733},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{5,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{257,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1517,915},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1769,915},{172,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{5,1279},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{257,1279},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{509,1279},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{761,1279},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{5,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{257,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{509,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{761,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1013,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1265,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1517,1097},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1769,1167},{172,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1013,1279},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1946,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d71d0f3152a639503dc2fb8b87a56b32:c455f6163c5cf6e9dbcf84628e52a24e:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
