<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>big_coins_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2073,448},{304,308}}</string>
        <key>offset</key>
        <string>{-1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{103,297},{304,308}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{512,910}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,910}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,5},{512,910}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,910}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,920},{512,910}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,910}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{2073,5},{306,438}}</string>
        <key>offset</key>
        <string>{-42,-236}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,472},{306,438}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,1835},{451,340}}</string>
        <key>offset</key>
        <string>{-30.5,-285}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,570},{451,340}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,2180},{1,1}}</string>
        <key>offset</key>
        <string>{-255.5,454.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,1835},{382,390}}</string>
        <key>offset</key>
        <string>{-1,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,252},{382,390}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,1835},{476,490}}</string>
        <key>offset</key>
        <string>{-2,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,200},{476,490}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,1602},{512,603}}</string>
        <key>offset</key>
        <string>{0,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,145},{512,603}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,876},{512,721}}</string>
        <key>offset</key>
        <string>{0,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,85},{512,721}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,5},{512,866}}</string>
        <key>offset</key>
        <string>{0,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{512,866}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,920},{512,910}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,910}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,5},{512,910}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,910}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
      <key>big_coins_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,920},{512,910}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{512,910}}</string>
        <key>sourceSize</key>
        <string>{512,910}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>big_coins_explosion.png</string>
      <key>size</key>
      <string>{2384,2330}</string>
      <key>textureFileName</key>
      <string>big_coins_explosion</string>
    </dict>
  </dict>
</plist>
